<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>post writeform</h1>

<form method="post" action="/beers/add" enctype="multipart/form-data">
    <!--name : <span th:text="${#authentication.principal.name}"></span><br>-->
    name : <input type="text" name = "name"><br>
    price : <input type="text" name="price"><br>
    amount : <input type="text" name="amount"><br>
    category : <select name="categoryId">
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
</select><br>
    image1 : <input type="file" name="image"><br>
    image2 : <input type="file" name="image"><br>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input type="submit" value="join">
</form>

</body>
</html>