<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css"/></th:block>
<th:block layout:fragment="script"/></th:script>

<div layout:fragment="content">
<h1>post writeform</h1>

<form method="post" action="/beers/add" enctype="multipart/form-data">
    <!--name : <span th:text="${#authentication.principal.name}"></span><br>-->
    name : <input type="text" name = "name"><br>
    price : <input type="text" name="price"><br>
    amount : <input type="text" name="amount"><br>
    category : <select name="categoryId">
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
</select><br>
    image1 : <input type="file" name="image"><br>
    image2 : <input type="file" name="image"><br>
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input type="submit" value="join">
</form>

</div>
</html>