<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css"/></th:block>
<th:block layout:fragment="script"/></th:script>

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Join</h5>
                        <form class="form-signin" action="/users/join" method="post">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="inputName" class="form-control" placeholder="name" required autofocus name="name">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="inputNickname" class="form-control" placeholder="nickname" required autofocus name="nickname">
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword1" class="form-control" placeholder="Password1" required name="password1">
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword2" class="form-control" placeholder="Password2" required name="password2">
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                                <input
                                        type="hidden"
                                        th:name="${_csrf.parameterName}"
                                        th:value="${_csrf.token}" />
                                <input type="submit" value = "join">
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!--<h2>joinform!</h2>-->
<!--<form action="/users/join" method="post">-->
    <!--name : <input type="text" name = "name"><br>-->
    <!--nickname : <input type="text" name ="nickname"><br>-->
    <!--email : <input type="text" name = "email"><br>-->
    <!--password1 : <input type="password" name = "password1"><br>-->
    <!--password2 : <input type="password" name = "password2">-->
    <!--<input-->
            <!--type="hidden"-->
            <!--th:name="${_csrf.parameterName}"-->
            <!--th:value="${_csrf.token}" />-->
    <!--<input type="submit" value="join">-->
<!--</form>-->
</div>
</html>