<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">



    <div class="container" layout:fragment="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">num</th>
                <th scope="col"><input type="checkbox" checked></th>
                <th scope="col">product</th>
                <th scope="col">price</th>
                <th scope="col">Quantity</th>
                <th scope="col">total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><input type="checkbox" checked></td>
                <td>
                    <div>
                        <a href="#"><img class="w-50 card-img-top" src="http://placehold.it/50x50"></a>
                    </div>
                    <div>guinness</div>
                </td>
                <td>5000</td>
                <td>10</td>
                <td50000</td>
            </tr>
            </tbody>
        </table>
    </div>
</html>